:root {
  --main-color: #15aabf;
  --light-color: #fff;
  --dark-color: #343a40;
  --minor-color: #51cf66;
  --minor-color2: #ffa8a8;
  --minor-color3: #ffec99;
  --minor-col4: #997348;
  --minor-color: #cc9a60;
}
