* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Montserrat";
  font-size: 1.8rem;
  margin-top: 12rem;
  margin-bottom: 10rem;
}
img {
  width: 100%;
}
.container {
  width: 95rem;
  height: 45rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1%;
  background-color: #02171b;
}
.container-col-1 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(images/bg--2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem 3rem;
  align-self: stretch;
}
.innerContainer {
  background-color: #fafafa;
}
.innerContainer-col-2-img {
  width: 10rem;
}
.content-nav {
  display: flex;
}
.container-col-2 {
  color: #fafafa;
  padding: 4rem 3rem 4rem 6rem;
}
.simple {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
}
.enjoy-your-trip {
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
.funded {
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 0.12rem;
  line-height: 1.5;
  margin-bottom: 1.8rem;
}
.start {
  color: #fafafa;
  text-transform: uppercase;
}
